# Python
*.pyc
*~
__pycache__

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
db.sqlite3
db.sqlite3-journal

# Django stuff:
*.log
local_settings.py
media/

# RAG Data Index
medchain-rag/data/

